<table class="table my-0" id="dataTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Scaling Ratio</th>
            <th>Filament Diameter</th>
            <th>Filament Length</th>
            <th>SM1 Speed</th>
            <th>SM2 Speed</th>
            <th>SM Duration</th>
            <th>MM Speed</th>
            <th>MM Duration</th>
            <th>Mixer Temp.</th>
            <th>EM Speed</th>
            <th>EM Duration</th>
            <th>Extruder Temp.</th>
        </tr>
    </thead>
    <tbody>
        <% for (i = 0; i < settingsArray.length; i++) { %>
            <tr id="tableRow<%=i%>">
                <td><%=settingsArray[i].saveNumber%></td>
                <td><%=settingsArray[i].scalingRatio%></td>
                <td><%=settingsArray[i].filamentDiameter%></td>
                <td><%=settingsArray[i].filamentLength%></td>
                <td><%=settingsArray[i].scalarMotor1Speed%></td>
                <td><%=settingsArray[i].scalarMotor2Speed%></td>
                <td><%=settingsArray[i].scalarRunDuration%></td>
                <td><%=settingsArray[i].mixerMotor1Speed%></td>
                <td><%=settingsArray[i].mixerRunDuration%></td>
                <td><%=settingsArray[i].mixerTemperature%></td>
                <td><%=settingsArray[i].extruderMotorSpeed%></td>
                <td><%=settingsArray[i].extruderRunDuration%></td>
                <td><%=settingsArray[i].extruderTemperature%></td>
                <td>
                    <a id="settingDelete<%=i%>" class="btn btn-dark btn-circle ms-1" role="button" onclick="settingDelete('<%=settingsArray[i].saveNumber %>')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                <td>
                    <a id="settingUse<%=i%>" class="btn btn-dark btn-circle ms-1" role="button" onclick="settingUse('<%=settingsArray[i].saveNumber %>')">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>