<!DOCTYPE html>
<html>

<%- include("./partials/head.ejs") %>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                
                <% if (req_auth == true) { %>
                    <%- include("./partials/nav.loggedin.ejs") %>
                <% } else { %> 
                    <%- include("./partials/nav.notlogged.ejs") %>
                <% } %>

                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-12 col-xl-10" style="width: 897px;">
                        <div class="card shadow-lg o-hidden border-0 my-5">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-6 align-self-center m-auto">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h4 class="text-dark mb-4"><%=page_name%></h4>
                                                <p id="cpInfoText"></p>
                                            </div>
                                            <form class="user" id="changePass">
                                                <div class="mb-3"><input class="form-control form-control-user" type="password" id="oldPasswordInput" placeholder="old password" name="oldPassword" autofocus="" autocomplete="off" required=""></div>
                                                <div class="mb-3"><input class="form-control form-control-user" type="password" id="newPasswordInput" placeholder="new password" name="newPassword" autocomplete="off" required=""></div>
                                                <div class="mb-3"></div><input id="submitButton" type="submit" class="btn btn-primary d-block btn-user w-100" value="Change It!"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("./partials/footer_1.ejs") %>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script>
        changePass.onsubmit = async (e) => {
            e.preventDefault();
            var form = document.querySelector("#changePass");

            data = {
                oldPassword: form.querySelector('input[name="oldPassword"]').value,
                newPassword: form.querySelector('input[name="newPassword"]').value
            }
    
            let response = await fetch('/user?type=changepassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
            })
    
            let res = await response.json()
            if (res["status"] == "OK") {
                document.querySelector("#cpInfoText").innerHTML = "Your password successfully changed.";
                document.querySelector("#registerForm").querySelector('input[name="oldPassword"]').value = ""
                document.querySelector("#registerForm").querySelector('input[name="newPassword"]').value = ""
            } else {
                document.querySelector("#cpInfoText").innerHTML = "Something bad happend! Please contact service provider.";
            }
        };
    </script>
</body>

</html>